.pagination>li {
display: inline;
padding:0px !important;
margin:0px !important;
border:none !important;
}
.modal-backdrop {
  z-index: -1 !important;
}
/*
Fix to show in full screen demo
*/
iframe
{
    height:700px !important;
}

.btn {
display: inline-block;
padding: 6px 12px !important;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

.btn-primary {
color: #fff !important;
background: #428bca !important;
border-color: #357ebd !important;
box-shadow:none !important;
}
.btn-danger {
color: #fff !important;
background: #d9534f !important;
border-color: #d9534f !important;
box-shadow:none !important;
}

.logo-container {
    left: 50px;
    position: absolute;
    top: 20px;
    z-index: 3;
}
.container{
        margin-top: 81px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.15);
}
div#datatable_wrapper {
    background: radial-gradient(ellipse at center, #533ce1 0%, #4087ea 100%);
    background-size: 250% 250%;
    padding: 36px;
    border-radius: 20px;
}
body{
        background: linear-gradient(160deg,#2c2c2c,#1f1f1f);
    background-size: cover;
    height: 100vh;
    color: #FFF;
    background-attachment: fixed;
    background-size: 100% 100%;
}